@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  z-index: 3;
  background: transparent;
  pointer-events: none;
}

.main-banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  max-width: 800px;
  text-align: center;
  margin-top: 0rem;
  z-index: 3;
}

.main-banner-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0rem;
  max-width: 800px;
  text-align: center;
  z-index: 3;
}

.main-banner-description {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  max-width: 800px;
  text-align: center;
  z-index: 3;
}

p {
  margin: 0rem;
}

.cv {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  text-decoration: none;
  z-index: 3;
}

.cv-container {
  margin: 0 2em;
  transition: all 1s;
  z-index: 3;
  &:hover {
    background-color: #44444448;
    box-shadow: 0 0 60px #444444;
    transition-duration: 0.05s;
  }
  @media (min-width: 600px) {
    margin: 0 1em 2em;
  }
}

.cv-text {
  margin-left: 0.5rem;
  z-index: 3;
}

.main-banner-buttons {
  display: block;
  justify-content: space-evenly;
  text-align: justify;
  z-index: 3;
  pointer-events: auto;
}

@keyframes blurry {
  0% {
    visibility: hidden;
    filter: blur(0.6rem);
  }
  30% {
    visibility: visible;
    filter: blur(0.4rem);
  }
  100% {
    visibility: visible;
    filter: blur(0rem);
  }
}

.title-1 {
  filter: blur(1rem);
  visibility: hidden;
  animation: blurry 0.5s ease-in-out 0.5s forwards;
}

.title-2 {
  filter: blur(1rem);
  color: #008cff;
  visibility: hidden;
  animation: blurry 0.5s ease-in-out 0.8s forwards;
}

.title-3 {
  filter: blur(1rem);
  color: #008cff;
  visibility: hidden;
  animation: blurry 0.5s ease-in-out 1.1s forwards;
}

.title-4 {
  filter: blur(1rem);
  color: #008cff;
  visibility: hidden;
  animation: blurry 0.5s ease-in-out 1.4s forwards;
}

.title-5 {
  filter: blur(1rem);
  color: #008cff;
  visibility: hidden;
  animation: blurry 0.5s ease-in-out 1.7s forwards;
}

.title-6 {
  filter: blur(1rem);
  visibility: hidden;
  animation: blurry 0.5s ease-in-out 2s forwards;
}

.current-technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 80rem;
}

.current-technologies-h1 {
  font-size: 3rem;
  font-weight: 700;
}

.current-technologies-p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.my-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 80rem;
}

.my-portfolio-h2 {
  font-size: 3rem;
  font-weight: 700;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 80rem;
}

.stars {
  color: #008cff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  display: flex;
  gap: 0.8rem;
}
